<div class="mx-auto my-2" title="{{ options.navName | titlecase }}">
  <div
    class="card dash-card -sm"
    routerLink="/dashboard/settings/{{ options.route }}"
    routerLinkActive="active"
    [class.w-tablet]="set.isMedium$ | async"
  >
    <div class="card-body" [class.py-2]="set.isHandset$ | async">
      <span class="material-icons-outlined icon">
        {{ options.icon }}
      </span>
      <button
        mat-button
        class="w-100"
        [class.text-center]="set.isHandset$ | async"
        *ngIf="!(set.isMedium$ | async)"
      >
        {{ options.navName | titlecase }}</button
      ><i
        class="fa fa-arrow-right"
        *ngIf="!(set.isHandset$ | async)"
        aria-hidden="true"
      ></i>
    </div>
  </div>
</div>
