@import "variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
  background-color: $bg2;
  border-bottom: 1px solid $darkbg;
  position: fixed;
  top: 0;
  right: 0;
  left: 280px;
  z-index: 907;
  .toggle {
    border-left: none;
    border-bottom: none;
    border-top: none;
    span {
      font-size: 30px !important;
      font-weight: 300;
    }
  }
  .header-item {
    display: flex;
    align-items: stretch;
    margin: 0;
    color: white;
    position: relative;
  }
}
.container-fluid {
  padding: 0 !important;
}
.powerflow {
  &-dropdown {
    z-index: 1;
    position: absolute;
    background-color: $bg1;
    width: auto;
    top: 100%;
    right: 30%;
    height: auto;
    padding: 30px 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  .box {
    position: relative;

    .pw-title {
      text-align: center;
      margin: 10px auto;
      letter-spacing: 2px;
      color: #cdd3dd;
    }
    .circle-container {
      z-index: 50;
    }
    .circle {
      border-radius: 100%;
      height: 85px;
      width: 85px;
      background-color: $darkbg;
      border: 1px solid $secondary;
      z-index: 102;
      text-align: center;
      display: block;
      position: relative;
      cursor: pointer;
      i,
      span {
        position: absolute;
        color: $secondary;
      }
      i {
        font-size: 30px;
        top: 8px;
        left: 5px;
      }
      span {
        font-size: 16px;
        top: 50px;
        left: 18px;
        font-weight: 300;
      }
    }
    .top {
      margin-bottom: 30px;
    }
    .middle {
      margin: 30px auto;
    }

    .bottom {
      margin-top: 30px;
    }

    .straight-path {
      display: block;
      top: 104px;
      position: absolute;
    }
    .down {
      height: 276px;
      left: 49.8%;
      width: 7px;
      background: #fbcf3c;
      background: linear-gradient($bg1, $bg1),
        linear-gradient(
          180deg,
          #fbcf3c 0%,
          rgba(148, 255, 53, 0.8183648459) 100%
        );
      border: double 1px transparent;
      border-width: 0px 0px 1px 1px;
      background-origin: border-box;
      background-clip: content-box, border-box;
    }
    .accross {
      height: 1px;
      left: 18%;
      top: 268px !important;
      width: 276px;
      background: #fbcf3c;
      background: linear-gradient(#2f3b52, #2f3b52),
        linear-gradient(90deg, white 0%, #1f8efa 100%);
      border: double 1px transparent;
      border-width: 0px 0px 1px 1px;
      background-origin: border-box;
      background-clip: content-box, border-box;
    }
    .lefts,
    .rights,
    .up-right {
      height: 161px;
      z-index: 0;
      width: 40%;
      border: double 1px transparent;
    }

    .lefts {
      right: 51.5%;
      border-bottom-right-radius: 22px;
      background-image: linear-gradient($bg1, $bg1),
        linear-gradient(
          45deg,
          rgba(255, 255, 255, 1) 56%,
          rgba(251, 207, 60, 1) 84%
        );
      background-origin: border-box;
      background-clip: content-box, border-box;
      border-width: 0 1px 1px 0;
    }
    .rights {
      left: 51.5%;
      border-bottom-left-radius: 5px;
      background-image: linear-gradient($bg1, $bg1),
        linear-gradient(130deg, #fbcf3c 0%, #1f8efa 61%);
      background-origin: border-box;
      background-clip: content-box, border-box;
      border-width: 0 0 1px 1px;
    }
    .up-right {
      top: 273px !important;
      left: 51.5%;
      border-top-left-radius: 5px;
      background-image: linear-gradient(#2f3b52, #2f3b52),
        linear-gradient(
          9deg,
          rgba(148, 255, 53, 0.8183648459) 68% 0%,
          #1f8efa 100%
        );
      background-origin: border-box;
      background-clip: content-box, border-box;
      border-width: 1px 0 0 1px;
    }
    .grid {
      border-color: white;
      box-shadow: 0px 0px 13px white;
      i {
        color: white;
      }
    }

    .solar {
      border-color: rgba(251, 207, 60, 1);
      box-shadow: 0px 0px 13px #fbcf3c;

      i {
        color: rgba(251, 207, 60, 1);
      }
    }
    .home {
      border-color: $primary;
      box-shadow: 0px 0px 13px $primary;
      i {
        color: $primary;
      }
    }
    .battery {
      border-color: rgba(148, 255, 53, 1);
      box-shadow: 0px 0px 13px rgba(148, 255, 53, 1);
      i {
        color: rgba(148, 255, 53, 1);
      }
    }

    .solar span,
    .battery span,
    .home span,
    .grid span {
      color: white;
    }
  }
}

.shape {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 3.5px solid rgba(36, 65, 115, 0.71);
  display: block;
  border-radius: 50%;
  top: 56px;
  transition: all 1s ease-in-out;
}

.trail {
  &-down {
    right: 0;
    background-color: #fbcf3c;
    box-shadow: 0px 0px 7px #fbcf3c;
    animation: trail 1.5s infinite;
  }
  /*  &-left {
    left: 97%;
    background-color: #fbcf3c;

    box-shadow: 0px 0px 7px #fbcf3c;
    animation: short-trail 1.5s infinite, left-side 1.5s infinite;
  } */
  &-right {
    right: 97%;
    background-color: $primary;
    box-shadow: 0px 0px 7px $primary;
    animation: right-side 1.5s infinite;
  }
  &-up-right {
    top: 90px;
    right: 97%;
    box-shadow: 0px 0px 7px rgba(148, 255, 53, 0.8183648459);
    background-color: rgba(148, 255, 53, 0.8183648459);
    animation: up-side 1.5s infinite;
  }
  &-accross {
    top: -4px;
    left: 22px;
    background-color: white;
    box-shadow: 0px 0px 7px white;
    animation: trail-accross 1.5s infinite;
  }
}

@keyframes trail {
  0% {
    top: 5px;
  }
  50% {
    top: 154px;
  }
  100% {
    top: 261px;
  }
}

@keyframes trail-accross {
  0% {
    left: 10px;
  }

  50% {
    left: 122px;
  }

  100% {
    left: 241px;
  }
}

@keyframes up-side {
  0% {
    top: 90px;
    right: 97%;
  }
  49% {
    top: 0px;
    right: 97%;
  }

  50% {
    top: -5px;
    right: 94%;
  }
  51% {
    top: -5px;
    right: 94%;
  }

  100% {
    top: -5px;
    right: 0;
  }
}
@keyframes right-side {
  0% {
    top: 5px;
    right: 97%;
  }
  49% {
    top: 151px;
    right: 97%;
  }
  50% {
    top: 152px;
    right: 94%;
  }
  51% {
    top: 154px;
    right: 94%;
  }
  100% {
    top: 154px;
    right: 0;
  }
}

@keyframes left-side {
  51% {
    top: 154px;
    left: 94%;
  }
  100% {
    top: 154px;
    left: 0;
  }
}
@media (max-width: 500px) {
  .powerflow {
    &-dropdown {
      left: 10%;
      right: 9%;
    }
  }
}
