<div class="card dash-card">
  <div class="card-body">
    <p>Details</p>

    <div class="form">
      <form class="d-block w-100">
        <div class="form-group">
          <label for="email"> Email</label>
          <input
            type="email"
            class="form-control"
            aria-describedby="emailHelpId"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="email"> Email</label>
          <input
            type="email"
            class="form-control"
            aria-describedby="emailHelpId"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="email"> Email</label>
          <input
            type="email"
            class="form-control"
            aria-describedby="emailHelpId"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="email"> Email</label>
          <input
            type="email"
            class="form-control"
            aria-describedby="emailHelpId"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="email"> Email</label>
          <input
            type="email"
            class="form-control"
            aria-describedby="emailHelpId"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="email"> Email</label>
          <input
            type="email"
            class="form-control"
            aria-describedby="emailHelpId"
            placeholder=""
          />
        </div>
      </form>
    </div>
  </div>
</div>
