@import "variables.scss";

.lang {
  position: absolute;
  top: 0;
  right: 15px;
  button {
    position: absolute;
  }
  .btn-lang {
    right: 0;
    top: 1em;
    display: block;
  }

  .btn-scroll-lang {
    right: 0;
    top: 1em;
  }
  .dropdown {
    // position: fixed;
    cursor: pointer;
    background-color: white;
    height: auto;
    padding: 0px 20px 5px;
    width: 100%;
    right: 5px;
    transition: all 0.3s;
    animation: slideInUp;
    animation-duration: 100ms;
    border-top: 1.5px solid #3e4e6c;
    ul li {
      margin: 10px auto;
      width: 100%;
    }
  }
}
.scroll-top {
  top: 80px;
}

.top {
  top: 90px;
}
.right-5 {
  margin-right: 3.2rem;
}

/* .hero {
  background-image: url("/assets/img/System.gif");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-size: cover;
  // padding: 5vh 0;
} */
.width-sm {
  width: 6.5rem !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
