<div class="wrap">
  <div class="container-fluid">
    <h2 class="dash-title" i18n>Overview</h2>

    <div class="row">
      <div class="col-lg-5 mb-3">
        <div class="row my-3">
          <div class="col-md-6 col-sm-12 mb-2">
            <div class="card dash-card py-2 px-3">
              <p i18n>
                Earnings
              </p>
              <div class="card-body position-relative">
                <div class="left-icon">
                  <span class="material-icons h1">money</span>
                </div>
                <div class="right">
                  <div class="d-block grey" i18n>Total</div>
                  <p class="earn">
                    3,500
                    <span style="position: absolute; top: 21%; left: 100px;"
                      ><img
                        src="assets/svg/tl.svg"
                        alt="TL"
                        style="width: 5em;"
                    /></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 mb-2">
            <div class="card dash-card py-2 px-3">
              <p i18n>total co<sub>2</sub> savings</p>
              <div class="card-body position-relative">
                <div class="left-icon">
                  <i class="fas fa-industry f-2"></i>
                </div>
                <div class="right">
                  <div class="d-block grey" i18n>Total</div>
                  <p class="earn">29.99 <span>G</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="dash-card p-3 col-12">
          <p i18n>Recent Notifications</p>

          <div *ngFor="let item of data.report | slice: 0 - 4" class="mb-2">
            <mat-list>
              <mat-list-item>
                <div class="left-icon notif">
                  <i
                    class="fa fa-info-circle text-info mx-4"
                    aria-hidden="true"
                    *ngIf="item.status === 'info'"
                  ></i>
                  <i
                    class="fas fa-exclamation-triangle text-warning mx-4"
                    aria-hidden="true"
                    *ngIf="item.status === 'warning'"
                  ></i>
                  <i
                    class="fas fa-cog text-success mx-4"
                    aria-hidden="true"
                    *ngIf="item.status === 'setting'"
                  ></i>
                </div>
                <div class="right text-white message">
                  {{
                    url === "en" ? item.messageEN : (item.messageTR | titlecase)
                  }}
                </div></mat-list-item
              >
            </mat-list>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div id="chart" class="p-3 dash-card">
          <p i18n>Energy Balance Today</p>
          <apx-chart
            [series]="series"
            [chart]="chart.lineOptions.chart"
            [xaxis]="chart.lineOptions.xaxis"
            [grid]="chart.lineOptions.grid"
            [stroke]="stroke"
            [tooltip]="chart.lineOptions.tooltip"
            [colors]="colorScheme.domain"
          ></apx-chart>
        </div>
      </div>
    </div>

    <div class="log my-3">
      <div class="card dash-card py-2 px-3 my-4 border-0">
        <p i18n>
          Forecast
        </p>
        <div class="card-body">
          <div class="row">
            <div
              class="dash-card bg-grey col-md-3 mr-1 py-2 px-3 my-auto shadow h-50 mb-3"
            >
              <p i18n>Weather today</p>

              <div class="row mt-4 mb-2">
                <div class="col-5">
                  <img
                    src="/assets/svg/weather/050-sun.svg"
                    alt="{{ today?.summary }}"
                    class="img-fluid mx-2"
                  />
                </div>
                <div class="col-7 my-auto">
                  <h2 class="earn">
                    {{ chart.getCelcius(today?.temp) }}
                    &deg; <span>C</span>
                  </h2>
                  <p class="grey">{{ (today?.weather)[0].description }}</p>
                </div>
              </div>
            </div>
            <div
              class="col-md-8 col-12 ml-auto"
              [class.my-5]="set.isHandset$ | async"
            >
              <div id="chart" class="dash-card d-block">
                <p class="text-center d-block" i18n>
                  Temperature range Over the week
                </p>
                <apx-chart
                  [series]="chart.weatherForecastOptions.series"
                  [chart]="chart.weatherForecastOptions.chart"
                  [dataLabels]="chart.weatherForecastOptions.dataLabels"
                  [plotOptions]="chart.weatherForecastOptions.plotOptions"
                  [xaxis]="chart.barOptions.xaxis"
                  [grid]="chart.weatherForecastOptions.grid"
                  [yaxis]="chart.barOptions.yaxis"
                  [colors]="['#1f8efa']"
                ></apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
