@import "variables.scss";

::ng-deep {
  .advanced-pie-legend {
    margin: 0 20px !important;
    .total-label {
      font-size: 18px !important;
    }
    .total-value {
      margin: 10px 0 15px;
      font-size: 17px !important;
      &:after {
        content: " KWH";
        font-size: 13px;
        font-weight: 600;
        color: $secondary;
        letter-spacing: 2px;
      }
    }
    .legend-items-container .legend-items {
      overflow: unset !important;
      .legend-item {
        .item-color {
          height: 10px !important;
          margin: auto !important;
        }
        .item-percent {
          font-size: 14px !important;
        }
        .item-label,
        .item-percent {
          color: white !important;
          opacity: 1 !important;
          &:hover {
            color: $primary !important;
          }
        }
        .item-value {
          display: none !important;
        }
      }
    }
  }
}
.dash-card {
  border-radius: 10px;
}
.log {
  border-top: 0.5px solid $darkbg;
}

.bg-grey {
  background-color: $darkbg !important;
}

.left-icon {
  position: absolute;
  top: 25%;
  left: 0;
  i {
    font-size: 2rem;
  }
}
.notif {
  i {
    font-size: 16px !important;
  }
}

.right {
  margin-left: 45px;
}
.earn {
  font-size: 24px;
  font-weight: 300;
  span {
    font-size: 18px;
    font-weight: 500;
    color: $shade2;
    letter-spacing: 2px !important;
    text-transform: uppercase;
  }
}
.grey {
  color: $shade2;
}
