<div class="sticky-bar">
  <div class="item">
    <button mat-stroked-button>
      <i class="material-icons">
        refresh
      </i>
    </button>
  </div>
  <div class="item">
    <button mat-stroked-button>
      <i class="material-icons">
        lock
      </i>
    </button>
  </div>
  <div class="item">
    <button mat-stroked-button>
      <div class="h-100 w-100">
        <img src="/assets/img/panel.svg" alt="panel" class="img-fluid" />
      </div>
    </button>
  </div>
  <div class="item">
    <button mat-stroked-button>
      <i class="material-icons">battery_charging_full</i>
    </button>
  </div>
</div>
<div class="sticky-barside" style="top: calc(30% + 42px);">
  <div class="item text-white">
    <div>50.000 <span>IYTECOIN</span></div>
  </div>
</div>
<div class="sticky-barside" style="top: calc(30% + 85px);">
  <div class="item">
    <div>2.6 <span>KWH</span></div>
  </div>
</div>
<div class="sticky-barside" style="top: calc(30% + 128px);">
  <div class="item">
    <div>Mammy</div>
  </div>
</div>
