@import "./variables.scss";

/* You can add global styles to this file, and also import other style files */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$etp-primary: mat-palette($mat-indigo);
$etp-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$etp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$etp-theme: mat-light-theme($etp-primary, $etp-accent, $etp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($etp-theme);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$etp-primary: mat-palette($mat-indigo);
$etp-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$etp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$etp-theme: mat-light-theme($etp-primary, $etp-accent, $etp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($etp-theme);
$enable-grid-classes: false;
$primary: #1f8efa;
$secondary: #657d95;
$success: #28a745;
$danger: #dc3545;
$info: #17a2b8;
$warning: #ffc107;
$light: #f8f9fa;
$dark: #343a40;
@import "bootstrap";

// --- General styling ---
* {
  outline: none !important;
}
.container {
  max-width: calc(100vw - 10%) !important;
}
html,
body {
  height: 100%;
}
li {
  list-style: none;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.btn {
  background-color: $primary !important;
  border-radius: 2px !important;
  font-size: 2vh !important;
  font-weight: 300 !important;
  color: white !important;
  line-height: 5px !important;
  letter-spacing: 1.2px;
}

.left {
  left: 0px !important;
}

// --- Home styling ---
.home-wrapper {
  background: $big-bg;
  min-height: 100vh;
  color: #fff;
  max-width: 100%;
  .heading {
    margin-left: 5vw;
    margin-top: 10vh;
    padding: 20px 0;
    .title {
      font-size: 5.6vh;
      font-weight: 400;
      line-height: 1;
      margin-top: 3%;
      text-shadow: 4px 4px 0px #0c1425, 7px 7px 0px rgba(0, 0, 0, 0.84);
    }
    p {
      font-size: 2vh;
      color: #aaa;
      font-weight: 300;
    }
  }

  .line-chart {
    margin: 3vh -5vh 0;
    img {
      padding: 10px;
    }
  }
  .top-btn {
    margin: 20px auto;
    position: absolute;
    right: 0;
    z-index: 1;
    .span {
      margin-right: 1vw;
      font-weight: 400;
      font-size: 2.5vh;
      sup,
      sub {
        color: #70889e;
        font-weight: 300;
      }
    }
    .btn {
      height: 4vh;
      width: 20vh;
      padding: 5px 10px;
      margin: auto 7px;
    }
  }
  .bar-pic {
    width: 40vh;
    margin-top: 5vh;
  }
  img {
    border-radius: 5px;
  }
}
// --- End of Home  ---

// --- Auth Styling ---

.auth-side {
  background-image: url(/assets/img/bitmap.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  box-shadow: inset 0 0 0 2000px #2f3b52e1;
  // width: 100%;
  margin: 0 -15px;
}

.auth-logo {
  width: 20vh;
  margin: 30px auto;
  max-height: 100vh;
}

.wrapper {
  margin: 5vh auto 10px;
  line-height: 1;
  .title {
    font-size: 4vh;
    font-weight: 400;
    color: $textcol;
    text-align: center;
  }
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 7vh 0;
  label {
    font-weight: 500;
  }
  input,
  textarea {
    background-color: $darkbg;
    caret-color: #1f8efa;
    color: white !important;
    font-weight: 300;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: inset 2px 2px 5px $bg1, inset -5px -5px 10px $grey;
    &:focus {
      background-color: $darkbg;
      box-shadow: none;
      border-color: $primary !important;
    }
  }
  input {
    width: 44vh;
    height: 4.5vh;
  }
}
.forgot {
  margin: auto 5vh;

  p {
    cursor: pointer;
    margin: 5vh 0 0;
    color: $bg1;
    line-height: 1.2;
    &:hover {
      color: $primary;
    }
  }
}
.signup {
  margin-top: 10vh;
  text-align: center;
  color: $textcol;
  span {
    color: $primary !important;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

// --- Dashboard ---
.dash-title {
  font-size: 22px !important;
  font-weight: 300 !important;
  color: white;
  margin: 40px auto 20px !important;
}
.dash-card {
  background-color: $bg1;
  border-radius: 0;
  min-height: 40vh;
  color: white;
}

// --- Media Queries ---
@media (max-width: 800px) {
  .container {
    padding: 0;
  }

  .home-wrapper {
    padding-left: 10px;
    .heading {
      margin: 30% auto 0;
    }
    .line-chart {
      margin: 20px 20px;
      width: 100%;
      img {
        padding: 0;
      }
    }
    .bar-pic {
      width: 100%;
    }
  }
  .top-btn {
    position: relative;
    margin: 0;
    padding: 0px 5px;
    text-align: right;
    .span {
      display: none;
    }
  }

  .forgot {
    margin: auto 10px !important;
    p {
      margin: 4vh 0 !important;
    }
  }
}
