$primary: #1f8efa;
$bg1: #2f3b52;
$big-bg: linear-gradient(90deg, #0c1425 100%, #242e42 0%);
$bg2: #242e42;
$grey: #3e4e6c;
$darkbg: #20293c;
$darkerbg: #0c1425;
$small: #70889e;
$sidetext: #98a7b9;
$sidehover: #131a27;
$secondary: #657d95;
$shade1: #44556b;
$shade2: #869aac;
$success: #05c985;
$danger: #ee423d;
