@import "variables.scss";
label {
  color: white;
}
.btn {
  height: 30px;
}
.card,
.card-body {
  padding-bottom: 0 !important;
}
li {
  list-style-type: disc;
}
button {
  background-color: $grey;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  height: 30px;
  line-height: 1;
}
