<!-- Contacts Section -->
<div class="bg-light position-relative">
  <div class="container space-bottom-2">
    <div class="row justify-content-center mb-5">
      <div class="col-md-1 d-none d-md-inline-block">
        <!-- Illustration -->
        <figure
          id="contactSVGillustration1"
          class="position-absolute bottom-0 left-0 w-100"
        >
          <img
            class=""
            src="../../assets/svg/icons/flowers.svg"
            alt="Image Description"
            data-parent="#contactSVGillustration1"
          />
        </figure>
        <!-- End Illustration -->
      </div>

      <div class="col-md-10 col-lg-7 mt-n11">
        <!-- Contact Form -->
        <form
          class="js-validate card shadow-sm p-5"
          [formGroup]="contact"
          data-aos="fade"
          data-aos-duration="1000"
          data-aos-delay="600"
        >
          <div class="text-center mb-4">
            <h3
              class="h4"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="900"
              i18n
            >
              Drop us a message
            </h3>
            <p
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="1200"
              class="text-secondary"
              i18n
            >
              Find the right solution.
            </p>
          </div>
          <!-- form Input -->
          <div data-aos="fade" data-aos-duration="1000" data-aos-delay="1500">
            <div class="row mx-gutters-2">
              <div class="col-md-6 mb-3">
                <!-- Input -->
                <label class="sr-only" i18n>First name</label>

                <div class="js-form-message">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      name="firstName"
                      placeholder="First name"
                      aria-label="First name"
                      required
                      data-msg="Please enter your first name."
                      data-error-class="u-has-error"
                      data-success-class="u-has-success"
                    />
                  </div>
                </div>
                <!-- End Input -->
              </div>

              <div class="col-md-6 mb-3">
                <!-- Input -->
                <label class="sr-only" i18n>Last name</label>

                <div class="js-form-message">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      name="lasstName"
                      placeholder="Last name"
                      aria-label="Last name"
                      required
                      data-msg="Please enter your last name."
                      data-error-class="u-has-error"
                      data-success-class="u-has-success"
                    />
                  </div>
                </div>
                <!-- End Input -->
              </div>

              <div class="w-100"></div>

              <div class="col-md-12 mb-3">
                <!-- Input -->
                <label class="sr-only" i18n>Email address</label>

                <div class="js-form-message">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      name="email"
                      placeholder="Email address"
                      aria-label="Email address"
                      required
                      data-msg="Please enter a valid email address."
                      data-error-class="u-has-error"
                      data-success-class="u-has-success"
                    />
                  </div>
                </div>
                <!-- End Input -->
              </div>

              <div class="w-100"></div>
            </div>

            <!-- Input -->
            <div class="mb-5">
              <label class="sr-only" i18n>How can we help you?</label>

              <div class="js-form-message input-group">
                <textarea
                  class="form-control"
                  rows="4"
                  name="description"
                  placeholder="Hi there, I would like to ..."
                  aria-label="Hi there, I would like to ..."
                  required
                  data-msg="Please enter a reason."
                  data-error-class="u-has-error"
                  data-success-class="u-has-success"
                ></textarea>
              </div>
            </div>
            <!-- End Input -->

            <!-- Checkbox -->
            <div class="js-form-message mb-5">
              <div
                class="custom-control custom-checkbox d-flex align-items-center text-muted"
              >
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="newsletterCheckbox"
                  name="newsletterCheckbox"
                  required
                  data-msg="Please accept our Terms and Conditions."
                  data-error-class="u-has-error"
                  data-success-class="u-has-success"
                />
                <label class="custom-control-label" for="newsletterCheckbox">
                  <small i18n>I want to receive ETP Newsletters</small>
                </label>
              </div>
            </div>
            <!-- End Checkbox -->
          </div>
          <!-- End of form Input -->

          <button
            data-aos="fade"
            data-aos-duration="1000"
            data-aos-delay="1500"
            type="submit"
            class="btn btn-dark transition-3d-hover"
            i18n
          >
            Submit
          </button>
        </form>
        <!-- End Contact Form -->
      </div>

      <div class="col-md-1 d-none d-md-inline-block">
        <!-- Illustration -->
        <figure
          id="contactSVGillustration2"
          class="ie-chatting-man position-absolute bottom-0 left-0 w-100"
        >
          <img
            class=""
            src="../../assets/svg/icons/chatting-man.svg"
            alt="Image Description"
            data-parent="#contactSVGillustration2"
          />
        </figure>
        <!-- End Illustration -->
      </div>
    </div>

    <div class="text-center">
      <p class="small" i18n>You'll hear from us within 1-2 business days.</p>
    </div>
  </div>
</div>
<!-- End Contacts Section -->
