<nav id="sidebar" [class]="set.sidetoggle">
  <div class="etp sticky-top">
    <a href="#">ETP</a>
  </div>
  <div style="background-color: transparent;" class="sticky-top">
    <div class="sidebar-header">
      <img
        [src]="data?.image || 'assets/img/avi.png'"
        alt="{{ data?.name }}"
        class="img-fluid rounded-circle mb-3 img-thumbnail"
      />
      <a class="mx-auto" routerLink="/dashboard" i18n> {{ data?.name }} </a>
    </div>
  </div>
  <ul class="list-unstyled components">
    <li
      (click)="set.dismiss()"
      routerLink="/dashboard/overview"
      routerLinkActive="active"
    >
      <a i18n> <i class="icon-home" aria-hidden="true"></i> Overview</a>
    </li>
    <li
      (click)="set.dismiss()"
      routerLink="/dashboard/energy-market"
      routerLinkActive="active"
    >
      <a i18n> <i class="icon-energy" aria-hidden="true"></i> Energy Market </a>
    </li>
    <li
      (click)="set.dismiss()"
      routerLink="/dashboard/analytics"
      routerLinkActive="active"
    >
      <a i18n><i class="far fa-chart-bar"></i> Analytics </a>
    </li>
    <!-- <li
      (click)="set.dismiss()"
      routerLink="/dashboard/rules"
      routerLinkActive="active"
    >
      <a i18n> <i class="fa fa-list-ul" aria-hidden="true"></i> Rules</a>
    </li> -->
    <li
      (click)="set.dismiss()"
      routerLink="/dashboard/history"
      routerLinkActive="active"
    >
      <a><i class="fa fa-history" aria-hidden="true"></i> History</a>
    </li>
    <li
      (click)="set.dismiss()"
      routerLink="/dashboard/settings"
      routerLinkActive="active"
    >
      <a i18n> <i class="icon-settings" aria-hidden="true"></i> Settings</a>
    </li>
    <li
      (click)="set.dismiss()"
      routerLink="/dashboard/solar-nodes"
      routerLinkActive="active"
    >
      <a i18n> <i class="fas fa-link" aria-hidden="true"></i> Solar Node</a>
    </li>
  </ul>
</nav>
