<div class="row">
  <div
    class="col-lg-7 col-md-5"
    style="box-shadow: 1px 0 20px #152138d0;"
    *ngIf="!(set.isHandset$ | async) && !(set.isTablet$ | async)"
  >
    <div class="auth-side">
      <div class="authbox">
        <h1 class="title">
          <span i18n>Get green energy from the sun </span><br />
          And sell on Energy Trading Platform
        </h1>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-md-7">
    <div class="container">
      <div class="auth-logo">
        <a href="" routerLink="">
          <img
            src="/assets/img/mainlogo.png"
            alt="Solar bankers logo"
            class="img-fluid"
        /></a>
      </div>
      <div class="my-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
