<div class="wrap">
  <div class="container-fluid">
    <div class="">
      <div class="row">
        <div class="col">
          <h2 class="dash-title">Solar Nodes</h2>
        </div>
        <div class="col mt-auto mb-4 d-flex justify-content-end">
          <div
            ngbDropdown
            class="ml-auto justify-content-end"
            [class.text-center]="set.isHandset$ | async"
          >
            <span class="text-white mr-2"> Sort by</span>
            <button class="toggle" id="dropdownBasic1" ngbDropdownToggle>
              Category &nbsp; &nbsp; &nbsp;
            </button>
            <div
              ngbDropdownMenu
              aria-labelledby="dropdownBasic1"
              class="bg-dark menu"
            >
              <button ngbDropdownItem>Warnings</button>
              <button ngbDropdownItem>Updates</button>
              <button ngbDropdownItem>Settings</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card dash-card shadow-sm">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-borderless table-vertical-center">
            <thead>
              <tr class="text-white table-head shadow-sm">
                <th style="min-width: 170px;">Name</th>
                <th style="min-width: 170px;">
                  Available <span>iytecoin</span>
                </th>
                <th style="min-width: 170px;">Total Min Run</th>
                <th style="min-width: 100px;"></th>
              </tr>
            </thead>
            <tbody class="py-5" *ngFor="let item of nodes">
              <tr class="table-data">
                <td class="pt-4">
                  {{ item.name }}
                </td>
                <td class="pt-4">
                  {{ item.iyte }}
                </td>
                <td class="pt-4">{{ item.totalMinRun }} <sub>min</sub></td>
                <td class="pt-3">
                  <button
                    mat-raised-button
                    class="text-primary px-4"
                    (click)="open(sell, item.name)"
                  >
                    ADD TO MY WALLET
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #sell let-modal class="shadow-sm">
  <div class="card modal-card">
    <div class="card-header">
      <h1 class="small d-inline">
        Add to wallet from {{ node | lowercase }} node
      </h1>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss(); sellValid = false"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="container">
        <!-- Sell board  -->
        <div class="row" *ngIf="!sellValid">
          <div class="col-sm-6 d-flex justify-content-center">
            <div class="box w-75">
              <span class="material-icons-round">
                monetization_on
              </span>
              <p>Sell from battery</p>
            </div>
          </div>
          <div
            class="col-sm-6 m-auto form"
            [class.my-3]="set.isHandset$ | async"
          >
            <form action="" [formGroup]="sellForm">
              <div class="form-group">
                <label for="Energy"> Energy Kw/h</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="energy"
                  aria-describedby="helpId"
                  placeholder=""
                />
              </div>
              <div class="form-group">
                <label for="price"> Price </label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="price"
                  aria-describedby="helpId"
                  placeholder=""
                />
              </div>
            </form>
          </div>
        </div>

        <!-- End of sell board  -->

        <!-- Validation board  -->
        <div class="mx-auto text-center success" *ngIf="sellValid">
          <span class="material-icons text-success">
            done
          </span>
          <p>Supply Created Successfully</p>
        </div>
      </div>
    </div>

    <!-- Sell baord buttons  -->
    <div
      class="card-footer text-muted d-flex justify-content-end mx-2"
      *ngIf="!sellValid"
    >
      <button mat-button class="text-white mx-1" (click)="modal.close()">
        CANCEL
      </button>
      <button
        mat-raised-button
        class="btn btn-primary"
        (click)="sellValid = true"
      >
        ADD
      </button>
    </div>

    <!-- Validation close button  -->
    <div class="card-footer m-auto" *ngIf="sellValid">
      <button
        mat-raised-button
        class="btn btn-primary"
        (click)="modal.close(); sellValid = false"
      >
        CLOSE
      </button>
    </div>
  </div>
</ng-template>
