<nav id="sidebar" [class]="set.sidetoggle">
  <div class="etp sticky-top">
    <a href="#">ETP</a>
  </div>
  <div class="sidebar-header sticky-top">
    <img
      src="/assets/img/avi.png"
      alt="logo"
      class="img-fluid rounded-circle mb-2"
    />
    <a class="mx-auto" routerLink="/"> Baris </a>
  </div>

  <ul class="list-unstyled components">
    <li (click)="set.dismiss()">
      <a> <i class="fa fa-home" aria-hidden="true"></i> Overview</a>
    </li>
    <li (click)="set.dismiss()">
      <a> <i class="fa fa-cart-plus" aria-hidden="true"></i> Energy Market </a>
    </li>
    <li (click)="set.dismiss()">
      <a><i class="far fa-chart-bar"></i> Analytics </a>
    </li>
    <li (click)="set.dismiss()">
      <a> <i class="fa fa-list-ul" aria-hidden="true"></i> Rules</a>
    </li>
    <li (click)="set.dismiss()">
      <a><i class="fa fa-history" aria-hidden="true"></i> History</a>
    </li>
    <li (click)="set.dismiss()">
      <a> <i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
    </li>
    <li (click)="set.dismiss()">
      <a> <i class="fas fa-link" aria-hidden="true"></i> Solar Node</a>
    </li>
  </ul>
</nav>
