<!-- Features Section -->
<div class="bg-light">
  <div class="container space-2 space-lg-3">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
      <span
        data-aos="fade-up"
        class="d-block text-primary font-size-1 font-weight-medium text-uppercase mb-2"
        i18n
        >WELCOME</span
      >
      <h2
        class="font-weight-medium"
        data-aos="fade-up"
        data-aos-delay="500"
        i18n
      >
        We provide technology smart enough to save your power and sell the
        extra.
      </h2>
    </div>
    <!-- End Title -->

    <div class="row">
      <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
        <!-- Nav -->
        <ul class="nav nav-box" role="tablist">
          <li class="nav-item w-100 mx-0 mb-3">
            <a
              class="nav-link p-4 active"
              id="pills-one-code-features-tab"
              data-toggle="pill"
              href="#pills-one-code-features"
              role="tab"
              aria-controls="pills-one-code-features"
              aria-selected="true"
            >
              <div
                class="media"
                data-aos="fade-up"
                data-aos-delay="800"
                data-aos-duration="1000"
              >
                <div class="media-body">
                  <h3 class="h6 text-center text-primary" i18n>
                    Peer-to-Peer Energy Trading
                  </h3>
                  <p class="mb-0 text-justify" i18n>
                    Solar Bankers is developing a Peer-to-peer online platform
                    that enables end users to trade electricity among themselves
                    in a free, open market. It is simple, fast, secure and
                    powered by the Solar Bankers Blockchain. Our vision is to
                    open up the energy market, allowing for greater total energy
                    production, and a variety of choices for energy customers.
                  </p>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <!-- End Nav -->
      </div>

      <div class="col-lg-7 order-lg-1 align-self-lg-end">
        <!-- Tab Content -->
        <div class="tab-content pr-lg-4">
          <div
            class="tab-pane fade show active"
            id="pills-one-code-features"
            role="tabpanel"
            aria-labelledby="pills-one-code-features-tab"
          >
            <!-- SVG Mockups -->
            <figure id="SVGlaptopAndIphoneID1" class="ie-laptop-and-iphone">
              <img
                data-aos="fade-in"
                data-aos-duration="1000"
                data-aos-delay="500"
                src="/assets/img/laptop-and-iphone.png"
                alt="Image Description"
                class="img-fluid"
                data-img-paths='[
                         {"targetId": "#SVGlaptopAndIphoneImg1", "newPath": "/assets/img/img2.jpg"},
                         {"targetId": "#SVGlaptopAndIphoneImg2", "newPath": "/assets/img/img8.jpg"}
                       ]'
                data-parent="#SVGlaptopAndIphoneID1"
              />
            </figure>
            <!-- End SVG Mockups -->
          </div>
        </div>
        <!-- End Tab Content -->
      </div>
    </div>
  </div>
</div>
<!-- End Features Section -->
