<div class="bar-wrapper">
  <div class="item" [matMenuTriggerFor]="messageMenu">
    <i class="material-icons tabs">
      email
    </i>
    <sup class="my-auto"
      ><span class="badge badge-pill badge-primary"> 7 </span></sup
    >
  </div>
  <div class="item" [matMenuTriggerFor]="notifMenu">
    <i class="material-icons tabs">
      notifications
    </i>
    <sup class="my-auto"
      ><span class="badge badge-pill badge-danger"> 4 </span></sup
    >
  </div>
  <div class="item" [matMenuTriggerFor]="userMenu">
    <span class="tabs ml-auto" i18n>Hi, {{ data?.surname }}</span>
  </div>
  <div class="item" [matMenuTriggerFor]="langMenu">
    <div class="my-auto">
      <span class="icon-globe px-2"></span>
    </div>
  </div>
</div>

<!-- drop downs  -->

<mat-menu #userMenu="matMenu" class="menu">
  <button mat-menu-item i18n>
    <i class="fa fa-cog pr-2" aria-hidden="true"></i> Settings
  </button>
  <button mat-menu-item (click)="asAuth.logout()" i18n>
    <i class="fas fa-sign-out-alt pr-2"></i> Logout
  </button>
</mat-menu>
<mat-menu #notifMenu="matMenu" class="menu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>
<mat-menu #messageMenu="matMenu" class="menu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>

<mat-menu #langMenu="matMenu" class="menu">
  <a href="/en{{ router.url }}"
    ><button mat-menu-item>
      <div style="width: 25px; margin: auto 3px;">
        <img class="img-fluid rounded-sm" src="/assets/svg/usa.svg" alt="" />
        &nbsp; EN
      </div>
    </button></a
  >
  <a href="/tr{{ router.url }}">
    <button mat-menu-item>
      <div style="width: 25px; margin: auto 3px;">
        <img class="img-fluid rounded-sm" src="/assets/svg/turkey.svg" alt="" />
        &nbsp; TR
      </div>
    </button></a
  >
</mat-menu>
