@import "../signin/signin.component.scss";

.forgot {
  width: 70%;
  p {
    margin: 3vh 0 !important;
    text-align: center;
    color: #869aac;
    cursor: context-menu;
  }
  font-size: 1.5vh;
}
@media (max-width: 500px) {
  .forgot {
    width: 100vw;
  }
}
