<div class="wrapper">
  <h1 class="title" i18n>Sign Up</h1>
  <div class="container">
    <div class="form">
      <div *ngIf="errorMsg" class="alert alert-secondary" role="alert">
        <span class="text-danger" i18n>{{ errorMsg }}</span>
      </div>
      <form action="" [formGroup]="signupForm">
        <div *ngIf="isSignup" formGroupName="register">
          <div class="form-group">
            <label for="email" i18n>Email</label>
            <input
              (focus)="errorMsg = ''"
              type="email"
              class="form-control"
              aria-describedby="emailHelpId"
              formControlName="email"
              [class.is-invalid]="email.touched && email.invalid"
            />
          </div>
          <div class="form-group">
            <label for="first name" i18n>First Name</label>
            <input
              (focus)="errorMsg = ''"
              type="text"
              class="form-control"
              formControlName="firstName"
              [class.is-invalid]="firstName.touched && firstName.invalid"
            />
          </div>
          <div class="form-group">
            <label for="Last name" i18n>Last Name</label>
            <input
              type="text"
              (focus)="errorMsg = ''"
              class="form-control"
              formControlName="lastName"
              [class.is-invalid]="lastName.touched && lastName.invalid"
            />
          </div>
        </div>
        <div *ngIf="isReg" formGroupName="completeRegister">
          <div class="form-group">
            <label for="telephone" i18n>Phone Number</label>
            <input type="tel" class="form-control" formControlName="phone" />
          </div>
          <div class="form-group">
            <label for="address" i18n>Address</label>
            <textarea
              class="form-control"
              formControlName="address"
              rows="2"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="EI number" i18n>Electric Invoice Number</label>
            <input type="number" class="form-control" formControlName="eiNum" />
          </div>
          <div class="form-group">
            <label for="TC number" i18n>TC Number</label>
            <input type="number" class="form-control" formControlName="tcNum" />
          </div>
          <div class="form-group">
            <label for="Birth Date" i18n>Birth Date</label>
            <input type="date" class="form-control" formControlName="bDate" />
          </div>
        </div>

        <button
          mat-raised-button
          (click)="signup()"
          class="btn btn-block mt-3"
          *ngIf="isSignup"
          type="submit"
          i18n
        >
          SIGN UP
        </button>
        <button
          mat-raised-button
          type="button"
          class="btn btn-block mt-3"
          *ngIf="isReg"
          type="submit"
          i18n
        >
          COMPLETE MY ACCOUNT
        </button>
      </form>
      <div class="forgot" *ngIf="isSignup">
        <p i18n class="font-weight-normal text-secondary">
          By clicking sign up, you agree to the Solar Bankers User Agreement,
          Privacy Policy, and Cookie Policy.
        </p>
      </div>
    </div>
    <div class="signup">
      <p *ngIf="isSignup" i18n>
        Already have an account?
        <span routerLink="/auth/signin">sign in</span>
      </p>
      <span *ngIf="isReg" routerLink="/auth/signin" i18n>Not now</span>
    </div>
  </div>
</div>
