<!-- Hero Section -->
<div class="container space-2 space-top-md-4 space-top-lg-3 space-bottom-lg-2">
  <div class="row justify-content-lg-between mb-7">
    <div
      class="col-lg-12 text-center mb-7 mb-lg-0"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="200"
    >
      <!-- Content -->
      <div class="container space-2 space-md-3">
        <div class="text-center w-lg-80 mx-auto">
          <h1
            class="text-white display-2 font-size-md-down-5 font-weight-semi-bold"
            i18n
          >
            Energy Trading Platform
          </h1>
        </div>

        <div class="text-center w-lg-40 mx-auto">
          <p class="lead text-white-70" i18n>
            by solar bankers
          </p>
        </div>
      </div>
      <!-- End Content -->
    </div>
  </div>
</div>
<!-- End Hero Section -->
