<!-- Hero Section -->
<div class="container space-2 space-top-md-4 space-top-lg-3 space-bottom-lg-2">
  <div class="row justify-content-lg-between mb-7">
    <div
      class="col-lg-5 mb-7 mb-lg-0"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="200"
    >
      <!-- Info -->
      <div class="mb-5 mt-3">
        <h1 class="h2 font-weight-medium mb-3">
          Get Extra Watts From Your Neighbor.
        </h1>
        <p>
          Use your electricity as a commodity. You can choose how to use it and
          who to sell it to. P2P energy trading is an efficient way of
          maintaining competitive electricity prices in the wholesale market.
        </p>
      </div>

      <div class="mb-3 d-flex">
        <div class="input-group my-auto">
          <input
            type="email"
            class="form-control"
            name="lasstName"
            placeholder="Email address"
            aria-label="email"
            required
            data-msg="Please enter your last name."
            data-error-class="u-has-error"
            data-success-class="u-has-success"
          />
        </div>
        <a
          class="btn btn-primary mx-1 btn-sm my-auto h-100 transition-3d-hover"
          href="#"
          >Subscribe</a
        >
      </div>

      <!-- End Info -->
    </div>

    <div class="col-lg-6">
      <!-- SVG Illustration -->
      <figure id="SVGHero" class="w-md-75 w-lg-100 mx-auto">
        <img
          data-aos="fade-left"
          data-aos-delay="1200"
          data-aos-easing="linear"
          data-aos-duration="1000"
          class="img-fluid"
          src="../../assets/img/home/heros.png"
          alt="Image Description"
          data-parent="#SVGHero"
        />
      </figure>
      <!-- End SVG Illustration -->
    </div>
  </div>
</div>
<!-- End Hero Section -->
