<!-- Hero v1 Section -->
<div class="u-hero-v1">
  <!-- Hero Carousel Main -->
  <ngb-carousel>
    <ng-template ngbSlide>
      <!-- Slide #1 -->
      <div
        class="d-lg-flex align-items-lg-center u-hero-v1__main"
        style="background-image: url(/assets/img/carousel1.jpg);"
      >
        <div
          class="container space-3 space-top-md-5 space-top-lg-3 space-left2"
        >
          <div class="row">
            <div class="col-md-8 col-lg-6 position-relative">
              <span
                class="d-block h4 text-white font-weight-light mb-2"
                data-scs-animation-in="fadeInUp"
                i18n
              >
                Welcome to
              </span>
              <h1
                class="text-white display-4 font-size-md-down-5 mb-0"
                data-scs-animation-in="fadeInUp"
                data-scs-animation-delay="200"
                i18n
              >
                Energy <span class="font-weight-semi-bold">Trading</span>
                Platform
              </h1>
              <p class="text" i18n>
                By solar bankers
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Slide #1 -->
    </ng-template>
    <ng-template ngbSlide>
      <div>
        <!-- Slide #2 -->
        <div
          class="d-lg-flex align-items-lg-center u-hero-v1__main"
          style="background-image: url(/assets/img/carousel2.jpg);"
        >
          <div
            class="container space-3 space-top-md-5 space-top-lg-3 space-left2"
          >
            <div class="row">
              <div class="col-md-8 col-lg-6">
                <h2
                  class="text-white display-4 font-size-md-down-5 mb-0"
                  data-scs-animation-in="fadeInUp"
                  data-scs-animation-delay="200"
                  i18n
                >
                  <span class="font-weight-semi-bold"> An Easy</span> Way to Buy
                  and Sell Electricity
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- End Slide #2 -->
      </div>
    </ng-template>
  </ngb-carousel>
  <!-- Slide #2 -->

  <div>
    <div class="row" style="margin-left: 0; margin-right: 0;">
      <div class="col-md-6 px-0">
        <div class="bg-white">
          <div class="container space-2 col-8 m-auto">
            <a href="/auth" routerLink="/auth"
              ><h3 class="h5 text-muted">
                <span class="d-block text-secondary" i18n
                  >Get Started as a prosumer</span
                >
              </h3>
              <p class="mb-0" i18n>
                Manage your Electricity and sell your Extra Easily
              </p></a
            >
          </div>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="bg-dark w-100">
          <div class="container space-2 col-8 m-auto">
            <a href="/auth" routerLink="/auth"
              ><h3 class="h5 text-white" i18n>Get Started as a Consumer</h3>
              <p class="text-white-70 mb-0" i18n>
                Manage your Electricity Easily
              </p></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Slide #2 -->
</div>
<!-- End Hero v1 Section -->
