@import "../history/history.component.scss";

.wrap {
  margin: auto;
}
.side {
  border-left: 1px solid $darkbg;
  border-right: 1px solid $darkbg;
}

.small {
  color: $sidetext;
}

.fixed {
  position: fixed;
  width: 20%;
  top: 8%;
  left: 280px;
  transition: all 0.3s;
}
.fixed.active {
  left: 40px;
}
.links {
  opacity: 1;
  transition: max-height 0.3s;
}
.links-hidden {
  visibility: hidden;
  max-height: 0;
  div {
    box-shadow: none !important;
  }
}
.links-shown {
  visibility: visible;
  max-height: 90vh;
}

.icon {
  position: absolute;
  top: 25%;
  left: 20px;
  color: white;
  display: inline-block;
}

.card-body:hover {
  .icon,
  .drop {
    color: $shade1;
  }
}

.drop {
  padding-left: 50px;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
