<div class="wrap">
  <div class="container-fluid">
    <div class="row mx-auto my-5">
      <div class="col-md-3">
        <div
          class="card dash-card"
          (click)="dropdown()"
          *ngIf="set.isHandset$ | async"
        >
          <div class="card-body py-1">
            <span class="material-icons-round icon">
              widgets
            </span>
            <button mat-button class="drop">
              Settings
            </button>
          </div>
        </div>
        <div
          [class]="(set.isHandset$ | async) ? links : ''"
          [class.fixed]="!(set.isHandset$ | async)"
          [class.active]="
            !(set.isHandset$ | async) &&
            (set.sidetoggle === 'active' || (set.isTablet$ | async))
          "
        >
          <h2 class="dash-title" *ngIf="!(set.isHandset$ | async)">Settings</h2>

          <div *ngFor="let item of options" (click)="dropdown()">
            <device-settings [options]="item"></device-settings>
          </div>
        </div>
      </div>
      <div class="col-md-9 mx-auto my-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
