<div class="menu-wrapper">
  <div class="menu-item">
    <h3 class="item">
      <i class="material-icons text-primary">
        lock
      </i>
      50.000 <span class="subs">IYTECOIN</span>
    </h3>
  </div>
  <div class="menu-item">
    <button mat-raised-button class="reload">RELOAD</button>
  </div>
  <div class="menu-item mx-4"></div>
  <div class="menu-item">
    <div class="item">
      <div class="h-50 w-25 mx-2">
        <img src="/assets/img/panel.svg" alt="panel" class="img-fluid" />
      </div>
      <span>2.6</span>
      <span class="subs">KWH</span>
    </div>
  </div>
  <div class="menu-item">
    <div class="item">
      <i class="material-icons text-primary">battery_charging_full</i>
      <div class="progress item">
        <div
          class="progress-bar bg-primary"
          role="progressbar"
          style="width: 60%;"
          aria-valuenow="65"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
</div>
