<div class="wrapper">
  <h1 class="title" *ngIf="isSignin">Sign In</h1>
  <h1 class="title" *ngIf="isReset">Forgot Password</h1>
  <p *ngIf="isReset" class="text-center info" i18n>
    Place your email in the field below. <br />
    We will send you a link with the instructions to follow.
  </p>
  <div class="container">
    <div class="form">
      <div class="error d-block w-auto" *ngIf="errorMsg">
        <div class="alert alert-secondary px-5" role="alert">
          <span class="text-danger">{{ errorMsg | titlecase }}</span>
        </div>
      </div>

      <form
        action=""
        [formGroup]="signinForm"
        class="d-block"
        [class.w-50]="!(set.isHandset$ | async)"
        [class.w-75]="set.isHandset$ | async"
      >
        <div class="form-group">
          <label for="email" i18n>Email</label>
          <input
            (focus)="errorMsg = ''"
            type="email"
            class="form-control"
            formControlName="email"
            aria-describedby="emailHelpId"
            [class.is-invalid]="email.touched && email.invalid"
          />
        </div>
        <div class="form-group" *ngIf="isSignin">
          <label for="password" i18n>Password</label>
          <input
            (focus)="errorMsg = ''"
            type="password"
            class="form-control"
            formControlName="password"
            [class.is-invalid]="password.touched && password.invalid"
          />
        </div>
        <button
          mat-raised-button
          class="btn btn-block mt-3"
          *ngIf="isSignin"
          type="submit"
          (click)="signin()"
          i18n
        >
          SIGN IN
        </button>
        <button
          mat-raised-button
          class="btn btn-block mt-3"
          *ngIf="isReset"
          type="submit"
          i18n
        >
          RECOVER PASSWORD
        </button>
      </form>
    </div>
    <div class="forgot w-75 d-block" *ngIf="isSignin">
      <p (click)="changeType('reset')" i18n>
        Forgot your password?
      </p>
    </div>

    <div class="signup">
      <p *ngIf="isSignin" i18n>
        Don't have an account?
        <span routerLink="/auth/signup">sign up</span>
      </p>
      <span (click)="changeType('signin')" *ngIf="isReset" i18n>Login</span>
    </div>
  </div>
</div>
