<div class="wrapper">
  <h1 class="title" *ngIf="isSignin">Sign In</h1>
  <h1 class="title" *ngIf="isReset">Forgot Password</h1>
  <p
    *ngIf="isReset"
    class="text-center"
    style="color: #70889e; margin: 5vh; font-size: 2vh;"
  >
    Place your email in the field below. <br />
    We will send you a link with the instructions to follow.
  </p>
  <div class="container">
    <div class="form">
      <div *ngIf="errorMsg" class="alert alert-secondary" role="alert">
        <strong class="text-danger">{{ errorMsg }}</strong>
      </div>
      <form action="" [formGroup]="signinForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            (focus)="errorMsg = ''"
            type="email"
            class="form-control"
            formControlName="email"
            aria-describedby="emailHelpId"
            [class.is-invalid]="email.touched && email.invalid"
          />
        </div>
        <div class="form-group" *ngIf="isSignin">
          <label for="password">Password</label>
          <input
            (focus)="errorMsg = ''"
            type="password"
            class="form-control"
            formControlName="password"
            [class.is-invalid]="password.touched && password.invalid"
          />
        </div>
        <button
          mat-raised-button
          class="btn btn-block mt-4"
          *ngIf="isSignin"
          type="button"
          (click)="signin()"
        >
          SIGN IN
        </button>
        <button
          mat-raised-button
          class="btn btn-block mt-4"
          *ngIf="isReset"
          type="button"
        >
          RECOVER PASSWORD
        </button>
      </form>
      <div class="forgot" *ngIf="isSignin">
        <p (click)="changeType('reset')">Forgot your password?</p>
      </div>
    </div>
    <div class="signup">
      <p *ngIf="isSignin">
        Don't have an account?
        <span routerLink="/auth/signup">sign up</span>
      </p>
      <span (click)="changeType('signin')" *ngIf="isReset">Login</span>
    </div>
  </div>
</div>
